html {
	height: 100%;
	width: 100%;
	text-align: center;
	background: linear-gradient(#00FFC0, #00916D);
}
.float {
	width: 40%;
	height: 60%;
	background-color: #00FFF3;
	margin: 10% auto;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}
h3,a {
	font-family: sans-serif;
}
h3 {
	padding-top: 5%;
}
