body {
	margin: 0;
	background: #DCDCDC; 
	background: -webkit-linear-gradient(to right, #A1A1A1, #DCDCDC);
    background: linear-gradient(to right, #A1A1A1, #DCDCDC);
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.centre, .centre a {
	/*width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center
}
.r-bord{
	border-right: 1px solid #BBB;
}
.hr-width {
	width: 85%;
}
.main {
	font-family: 'Montserrat', sans-serif;
	padding: 0 2% 2% 2%;
}
.sub-headings {
	font-family: 'Roboto', sans-serif;
	margin-top: 1%;
	margin-bottom: 1%;
}
.top-bar {
    background-color: #333;
    overflow: hidden;
}
.top-bar a {
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 1% 0;
    text-decoration: none;
    font-size: 17px;
	font-family: 'Roboto', sans-serif;
}
.top-bar a:hover {
    background-color: #DDD;
    color: black;
}
.t-b-small {
	width: 18.13%;
}
.t-b-large {
	width: 27.2%;
}
.active {
    background-color: #4CAF50;
    color: white;
}
.top-bar .icon {
    display: none;
}

@media screen and (max-width: 650px) {
  .top-bar a:not(:nth-child(7)) {
	 display: none;
  }
  .top-bar a.icon {
	float: right;
	display: block;
  }
}

@media screen and (max-width: 650px) {
  .top-bar.responsive {
	position: relative;
  }
  .top-bar.responsive a.icon {
    position: absolute;
	right: 0;
	top: 0;
  }
  .top-bar.responsive a:not(:nth-child(7)) {
    float: none;
    display: block;
    text-align: center;
	width: 100%;
	padding-left: 2%;
	border: 0;
  }
}
table {
    border-collapse: collapse;
	padding-left: 2%;
	width: 100%;
	background-color: #D9D9D9;
}

table, th, td, tr {
    border: 1px solid black;
	border-collapse: collapse;
}
th {
	padding-top: 10px;
	padding-bottom: 10px;
}
td {
	padding-top: 5px;
	padding-bottom: 5px;
}

tr.header {
	cursor: pointer;
	display: table-row;
	background-color: #B4B4B4;
}

tr {
	display: none;
}

tr td:first-child {
	font-weight: bold;
	background-color: #C5C5C5;
}
